<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Clickfunnels 404 Error</title>
<link rel="stylesheet" href="https://assets.clickfunnels.com/templates/master-cf-template/css/master-cf.css">
<link href="https://assets.clickfunnels.com/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

<style>
  .error-block{
    width: 600px;
    margin: 20px auto;
    background:white;
    padding: 20px;
    line-height: 26px;
    font-family: ubuntu, sans-serif;
    font-size: 18px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  }
  a{
    color: #3498da;
    font-weight: bold;
    text-decoration: none;
  }
</style>
</head>
<body style="background:#eee;">
  <br>
  <br>
  <br>
  <p style="text-align:center;">
    <img src="/images/logo-cf-large.png" alt="">
  </p>

  <div class="error-block">
    <p><b>The page you were looking for doesn't exist.</b></p>
    <p>You may have mistyped the address or the page may have moved.</p>

    <p>If you believe this page should be here, there might be more information on our <a href="http://status.clickfunnels.com" target="_blank">status page</a></p>
  </div>
</body>
</html>
